@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color: white;
    font-family: "Ubuntu", sans-serif;
    background: url("https://xhibiter-nextjs.netlify.app/_next/image?url=%2Fimages%2Fgradient_dark.jpg&w=3840&q=75")
      center top / contain no-repeat rgb(13 16 45);
  }
}
